/**
GENERAL SHIT
*/

body{
background: -webkit-linear-gradient(left, lightgray,#ffffff 50%);
}
html{
    background:#404040;
}

a{
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
.region-front-bottom-content > div{
width:50%;
float:left;
min-height:350px;
}

/*
Anime Shit
*/

.anime-meta-data{
    float: left;
    padding: 0px 20px 10px 0px;
}

/*****
 *
 *WE DOING FACET STYLING FAM
 * */

.region-sidebar-first div.block-facetapi{
margin-bottom:0px;
}

ul.facetapi-facetapi-links{
margin:0;
}

a.facetapi-limit-link{
position:relative;
left:150px;
}
.ui-widget-content a{
color: rgb(0, 0, 238);
}
.ui-widget-content a:visited{
color:rgb(85, 26, 139)
}
.ui-widget-content{
background: lightgray;
}
.ui-state-active{
background: #dadada url(/misc/ui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}

/**
FOOTER FOOLS
**/

.region-bottom{
    padding-top:20px;
}
.footer-wrapper{
    background:#404040;
    color:white;
    margin-top: 100px;
}
.region-bottom ul.menu li{
    list-style-image:none;
    list-style-type:none;
    padding-top: 20px;
}
.region-bottom ul.menu li:first-of-type{
    padding-top:0px;
}
.region-bottom ul.menu li a{
    color:#fafafa;
}