body{
background: -webkit-linear-gradient(left, lightgray,#ffffff 50%);
}

a{
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
.region-front-bottom-content > div{
width:50%;
float:left;
min-height:350px;
}
